// ================================================================
// VARIABLES
// ================================================================

@dark-green: #44a069;
@light-green: #45b873;
@red: #ca7a57;
@orange: #ccb05a;
@lime: #b8ce5d;
@dark: #212121;
@light-gray: #f4f4f4;

// ================================================================
// TYPOGRAPHY
// ================================================================

body
{
  margin: 0;
  font: 18px "Menlo", Helvetica, Arial, sans-serif;
  background-color: @dark-green;
  color: @dark;
}

a { color: @light-gray; }

h1,h2,h3,h4,h5,h6
{
  color: white;
  margin-top: 10px;
}

h1 { font-size: 2rem;    }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem;  }
h4 { font-size: 1.25rem; }
h5 { font-size: 1rem;    }
h6 { font-size: 0.75rem; }

// ================================================================
// LAYOUT
// ================================================================

.block
{
  width: 100%;
  padding: 40px 0;
}

.inner
{
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: 1180px)
  {
    padding: 0 20px;
  }
}

// ================================================================
// COLOR BLOCKS
// ================================================================

.a-splash-of-color-1 { background-color: hsl(0,   50%, 60%); }
.a-splash-of-color-2 { background-color: hsl(90,  50%, 60%); }
.a-splash-of-color-3 { background-color: hsl(180, 50%, 60%); }
.a-splash-of-color-4 { background-color: hsl(270, 50%, 60%); }